/* banner__wrap */
.banner__wrap {
    top: 0;
    width: 100%;
    background-image: url(../img/benerType01-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing:  border-box;
}
.banner__inner {
    color: #fff;    
}
.banner__inner h3 {
    font-size: 50px;
    margin-bottom: 45px;
    
}
.banner__inner p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 90px;
}
.banner__inner a {
    color: #fff;
    text-decoration: underline;

}@media (max-width: 960px){
    .banner__inner h3 {
        font-size: 40px;
    }

}

@media (max-width: 600px){
    .banner__inner h3 {
        font-size: 30px;
    }
    .banner__inner p {
        margin-bottom: 50px;
    }

}